// $base-primary-color: #409eff;
$base-panel-color: rgba(3, 37, 100, 0.5);
$base-panel-color-solid: #003290;
$base-panel-border: 2px solid rgba(113,135,205,0.50);
$base-panel-box-shadow: 0 5px 6px 0 rgba(0,0,0,0.30);
$base-divider-color: rgba(113,135,205,0.30);
$base-font-color-primary: #C2D4FF;
$base-font-color-regular: #97B6FF;
$base-font-color-secondary: #6B8BD7;
// $base-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
// $base-background-color: #f5f7fa;
$base-border-color: rgba(113,135,205,0.30);
// $base-input-background-color: #FFFFFF;
// $base-border-color-hover: #409eff;
$base-mask-color: rgba(0, 0, 0, 0.25);

$layer-border: 2px solid rgba(113,135,205,0.50);
$layer-border-horizontal: 2px solid linear-gradient(90deg, #FFFFFF00, #A7B2FF, #FFFFFF00);
$layer-box-shadow: -2px 0 12px 0 rgba(0,0,0,0.42), inset 0 0 21px 0 #1363F2;

$contextMenu-font-color: #97B6FF;
$contextMenu-border-color: rgba(113,135,205,0.30);
$contextMenu-background-color: #003290;
$contextMenu-divider-color: #264CA1;
$contextMenu-hover-background-color: rgba(67,99,255,0.30);
$contextMenu-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
