// $base-primary-color: #409eff;
$base-panel-color: #042C54;
$base-panel-color-solid: #042C54;
$base-panel-border: 1px solid rgba(54, 145, 177,1);
$base-panel-box-shadow: inset 0 0 20px 5px rgba(20, 146, 186, 0.31);
$base-mask-color: rgba(0, 0, 0, 0.25);
$base-border-color: #37617D;
$base-divider-color: #37617D;
$base-font-color-primary: #FFFFFF;
$base-font-color-regular: #9ACBDA;
$base-font-color-secondary: #76A5BE;
// $base-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
// $base-background-color: #f5f7fa;
// $base-input-background-color: #FFFFFF;
// $base-border-color-hover: #409eff;

$layer-border: 2px solid rgba(113, 135, 205, 0.50);
$layer-border-horizontal: 2px solid linear-gradient(90deg, #FFFFFF00, #A7B2FF, #FFFFFF00);
$layer-box-shadow: -2px 0 12px 0 rgba(0, 0, 0, 0.42), inset 0 0 21px 0 #21dcdc;

$contextMenu-font-color: #9ACBDA;
$contextMenu-border-color: rgba(47, 162, 203, 0.50);
$contextMenu-background-color: #02699b;
$contextMenu-divider-color: #7187cd4d;
$contextMenu-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.29);
$contextMenu-hover-background-color: rgba(67, 99, 255, 0.30);
