// $base-primary-color: #409eff;
$base-panel-color: #0D2A57;
$base-panel-color-solid: #0D2A57;
$base-panel-border: 1px solid #0782EC;
$base-panel-box-shadow: inset 0 0 7px 5px rgba(17, 110, 217, 0.50);
$base-mask-color: rgba(0, 0, 0, 0.25);
$base-border-color: #0A4A74;
$base-divider-color: #0A4A74;
$base-font-color-primary: #FFFFFF;
$base-font-color-regular: #A5D0FF;
$base-font-color-secondary: #436E9D;
// $base-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
// $base-background-color: #f5f7fa;
// $base-input-background-color: #FFFFFF;
// $base-border-color-hover: #409eff;

$layer-border: 2px solid rgba(113, 135, 205, 0.50);
$layer-border-horizontal: 2px solid linear-gradient(90deg, #FFFFFF00, #A7B2FF, #FFFFFF00);
$layer-box-shadow: -2px 0 12px 0 rgba(0, 0, 0, 0.42), inset 0 0 21px 0 #0782EC;

$contextMenu-font-color: #9ACBDA;
$contextMenu-border-color: rgba(47, 162, 203, 0.50);
$contextMenu-background-color: #02699b;
$contextMenu-divider-color: #7187cd4d;
$contextMenu-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.29);
$contextMenu-hover-background-color: rgba(67, 99, 255, 0.30);
