// $base-primary-color: #409eff;
$base-panel-color: #3767C790;
$base-panel-color-solid: #3767C7;
$base-panel-border: 0;
$base-panel-box-shadow: -2px 0 12px 0 rgba(45,70,186,0.42), inset 0 0 13px 0 #579EF6;
$base-divider-color:#5686D7;
$base-font-color-primary: #ffffff;
$base-font-color-regular: #DCE6FF;
$base-font-color-secondary: #6B8BD7;
// $base-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
// $base-background-color: #f5f7fa;
$base-border-color: #5686D7;
// $base-input-background-color: #FFFFFF;
// $base-border-color-hover: #409eff;
$base-mask-color: rgba(0, 0, 0, 0.25);

$layer-border: 0;
$layer-border-horizontal: 2px solid linear-gradient(90deg, #FFFFFF00, #A7B2FF, #FFFFFF00);
$layer-box-shadow: -2px 0 12px 0 rgba(45,70,186,0.42), inset 0 0 13px 0 #579EF6;

$contextMenu-font-color: #DCE6FF;
$contextMenu-border-color: rgba(113,135,205,0.30);
$contextMenu-background-color: #3767C7;
$contextMenu-divider-color: #5686D7;
$contextMenu-hover-background-color:rgba(18,65,131,0.20);
$contextMenu-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.29);
